/*
div {
    border: 1px;
    border-color: black;
    border-style: solid;
}
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html, body {
    background-color: #0C637E;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5191a5;
}

li {
    float: left;
    width: 120px;
}

span.right {
    float: right;
}

li a {
    display: block;
    font-size: 18px;
    font-family: "SUSE Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #FFEDDF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111111;
}

a.active {
    background-color: #0C637E;
}

header {
    height: 5%;
}

header h1 {
    font-size: 42px;
    font-family: "SUSE Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    color: #FFEDDF;
    padding: 35px 10px 25px 10px;
    margin: 0px;
}

section {
    width: 80%;
    height: 85%;
    margin: auto;
    font-size: 18px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lead {
    font-size: 20px;
    color: #FFEDDF;
}

/* TODO: find out why rounding doesn't work*/
section img {
    width: 400px;
    border-radius: 10%;
    padding: 40px 0px 20px 0px;
    display: block;
    margin: auto;
}

.quote {
    font-size: 28px;
    color: #FFEDDF;
    text-align: center;
    padding: 15px;
}

.link {
    color: #FFEDDF;
}

footer {
    background-color: #5191a5;
    height: 5%;
    margin-top: 40px;
}

footer p {
    color: #FFEDDF;
    text-align: center;
    padding: 10px;
    margin: 0px;
    font-size: 15px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.row {
    width: 100%;
    height: 99%;
    /*border: 2px solid red;*/
}

.column {
    width: 100%;
}

.left {
    padding: 5%;
}

ul.topnav li.right {float: right;}

@media only screen and (max-width: 600px) {
    ul li {
        float: none;
        text-align: center;
        width: 100%;
    }

    span.right {
        text-align: center;
        width: 100%;
    }

}

@media only screen and (min-width: 1025px) {
    section {
        width: 80%;
    }
}

@media screen and (min-width: 1200px) {

    section img {
        padding-top: 100px;
    }

    .column {
        float: right;
        box-sizing: border-box;
    }

    .left {
        width: 45%;
        /*border: 1px solid black;*/
        padding: 1% 5% 1% 0%;
    }

    .right{
        width: 40%;
        min-width: 400px;
        /*border: 1px solid black;*/
    }

    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }

}